body {
    background: linear-gradient(to bottom, #f0f4f8, #d9e2ec);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    text-align: center;
    padding: 20px;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #0056b3;
}

.symptom-group {
    margin-bottom: 20px;
    display: inline-block;
    text-align: left;
}

.symptom-group label {
    margin-right: 10px;
    display: block;
    font-size: 14px;
    color: #0056b3;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#medical-record {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-top: 30px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#medical-record h2 {
    color: #0056b3;
    margin-bottom: 10px;
}

#result, #medications, #medical-leave {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

#developer {
    margin-top: 20px;
    font-size: 12px;
    color: #333;
}